<app-navbar/>

    <p-card  [style]="{marginTop:'30px',border:'3px solid #c4c4d9' ,display: 'flex', justifyContent: 'center'}">
            <div class="card flex justify-center" [style]="{display: 'flex', justifyContent: 'center'}">
                <p-autocomplete 
                  [(ngModel)]="item" 
                  [dropdown]="true" 
                  [suggestions]="items" 
                  (completeMethod)="search($event)" 
                  placeholder="Search for items"
                  field="Name"
                  
                  > 
                </p-autocomplete>
              </div>
              <div  [style]="{display: 'flex', justifyContent: 'center',marginTop:'20px'}">
                <p-floatlabel>
                  <input id="Quantity" type="text" pInputText [(ngModel)]="Quantity"  />
                  <label for="Quantity">Quantity</label>
                </p-floatlabel>
              </div>
              <div class="flex justify-center" [style]="{ display: 'flex', justifyContent: 'center' ,marginTop:'20px'}">
                <p-button label="Submit" (click)="Submit()" />
            </div>
            
              

    </p-card>